
/*-------------------------------------------------*/

.container{
	position: relative;
	width:1024px;
	min-width:1024px;
	margin-left: auto;
	margin-right: auto;
}


/*-----------------------header--------------------------*/
.Header{
	
	height:70px;
}

.header_content{
	padding-top:15px;
}

#logo{
	height:40px;
	width:auto;
}


/*-----------------------banner--------------------------*/
.Banner{
	
}

.BannerBox{
	

}
.BannnerBG_Box{
	position:absolute;
	width:1280px;
	min-width:1024px;
	margin-left: auto;
	margin-right: auto;
	top:0px;
	z-index: -1;
}
.BannerBG_Image img{

	background-color:#18a7e1;
	
	background:url(test/bannerBG.png) no-repeat;
	-moz-background-size:contain;
	-ms-background-size:contain;
	-webkit-background-size:contain;
	background-size:contain;

	height:100%;
	width:100%;
}

.BannerElementBox{
	
}

#PhoneViewBox{
	float: left;
	margin-left:-70px;

}
#PhoneViewBox img{
	float: left;
	width: auto;
	height: 814px;
}

#leftPanelElementBox{
	
	float: left;
	margin: 110px 0px 0px 90px;
}

#leftPanelElementBox h1{
	color: #ffffff;
	font-size: 36px;

	font-weight:lighter;
	margin-bottom: 100px;
}

#leftPanelElementBox h1 span{
	font-weight: bolder;

}

.DownButton{
	background-color: #90d82e;

	margin-left: 160px;

	font-size: 20px;

	padding: 25px 30px 25px 30px;
	border-radius: 10px;
	font-weight: bolder;
	border-bottom: 2px solid #37531a;
	
	color: #000000;
	-webkit-box-shadow:inset 0px -3px 0px 0px #5a921e;
  	-moz-box-shadow: inset 0px -3px 0px 0px #5a921e;
  	box-shadow: inset 0px -3px 0px 0px #5a921e;

}


.DownButton:hover{
	color: #000000;
	text-decoration: none;
}

.SeeOurWork{
	margin-left: 185px;
	margin-top: 70px;
}


.SeeOurWork a img{
	margin-top: -3px;
	width: 18px;
	height: auto;

}

.SeeOurWork a{
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 3px;
	border-bottom: 1px solid #ffffff;
	font-size: 18px;
	color: #ffffff;


}

.SeeOurWork a:hover{
	color: #ffffff;
	text-decoration: none;
}



/*-----------------------mainIntroduction--------------------------*/

.Main_IntroductionBox{
	
	
	
}

.Main_Introduction{

}
.Main_Introduction img{
	width: 1024px;
	height: auto;
	-webkit-draggable:"false";
	-moz-draggable:"false";


}

/*-----------------------otherInfo--------------------------*/

.buttonBox{
	margin:100px 180px;
}

.shadowButton{
	float:left;
	
	width:270px;
	height:50px;
	margin:30px;
	border-radius:2px;
	
	-webkit-box-shadow: 1px 2px 1px 2px #e8e8e8;
  	-moz-box-shadow:  1px 2px 1px 2px #e8e8e8;
  	box-shadow:  1px 2px 1px 2px #e8e8e8;
}
.contactButton{
	background-color:#079fdd;
}
.downloadButton{
	background-color:#9bc859;
}
.contactButton a{
	margin-left: 51px;
	font-weight:bolder;
}
.downloadButton a{
	margin-left: 70px;
	font-weight:bolder;
}
.shadowButton a{
	color: #ffffff;
	line-height:50px;
	font-size:14px;
}
.shadowButton a:hover{
	color: #ffffff;
	text-decoration: none;
}
.bottomImageBox{
	
	margin-bottom:-2px
}

.bottomImageBox img{
	width:1024px;
	height:auto;
}


/*-----------------------Footer--------------------------*/
.Footer{
	background-color: #30323a;
	height: 300px;
}

.copyright{
	
}
.copyright h1{
	padding:180px 0px 0px 0px;
	color: #2d4557;
	font-size: 12px;
}

