
/*-------------------------------------------------*/

.container{
	position: relative;
	width:1024px;
	min-width:960px;
	margin-left: auto;
	margin-right: auto;
}


/*-----------------------header--------------------------*/
.Header{
	
	height:70px;
}

.header_content{
	padding-top:15px;
	position: relative;
	width:1100px;
	min-width:960px;
	margin-left: auto;
	margin-right: auto;

}

#logo{
	height:40px;
	width:auto;
}


/*-----------------------banner--------------------------*/
.Banner{
	
}

.BannerBox{
	

}
.BannnerBG_Box{
	
}
.BannerBG_Image{

	background-color:#18a7e1;
	
	background:url(test/bannerBG.png) no-repeat;
	-moz-background-size:contain;
	-ms-background-size:contain;
	-webkit-background-size:contain;
	background-size:contain;

	height:100%;
	width:100%;
}

.BannerElLementBox{
	
}

#PhoneViewBox{
	float: left;

}
#PhoneViewBox img{
	float: left;
	width: 400px;
	height: auto;
	padding-top: 40%;
	margin-bottom: -20%;
	

}

#leftPanelElementBox{
	
	float: left;
	margin: 110px 0px 0px 80px;
}

#leftPanelElementBox .BannerTitle{
	color: #ffffff;
	font-size: 36px;

	margin-bottom: 100px;
}

#leftPanelElementBox .BannerTitle span{
	font-weight: bold;
}

.DownButton{
	background-color: #90d82e;

	margin-left: 160px;

	font-size: 18px;

	padding: 25px 30px 25px 30px;
	border-radius: 10px;
	font-weight: bold;
	border-bottom: 2px solid #37531a;


	-webkit-box-shadow:inset 0px -3px 0px 0px #5a921e;
  	-moz-box-shadow: inset 0px -3px 0px 0px #5a921e;
  	box-shadow: inset 0px -3px 0px 0px #5a921e;

}


.DownButton:hover{
	color: #000000;
	text-decoration: none;
}

.SeeOurWork{
	margin-left: 185px;
	margin-top: 70px;
}


.SeeOurWork a img{
	margin-top: -3px;
	width: 18px;
	height: auto;

}

.SeeOurWork a{
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 3px;
	border-bottom: 1px solid #ffffff;
	font-size: 18px;
	color: #ffffff;


}

.SeeOurWork a:hover{
	color: #ffffff;
	text-decoration: none;
}



/*-----------------------mainIntroduction--------------------------*/

.Main_IntroductionBox{
	
	
	
}

.Main_Introduction{

}
.Main_Introduction img{
	width: 1024px;
	height: auto;
	-webkit-draggable:"false";
	-moz-draggable:"false";


}

/*-----------------------Footer--------------------------*/
.Footer{
	background-color: #30323a;
	height: 300px;
}

.copyright{
	
}
.copyright h1{
	padding:180px 0px 0px 0px;
	color: #2d4557;
	font-size: 12px;
}

